<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.guet.ksmvcmain.mapper.CloudFileMapper">

    <resultMap id="BaseResultMap" type="cn.guet.ksmvcmain.entity.vo.CloudFile">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
            <result property="fileSize" column="file_size" jdbcType="BIGINT"/>
            <result property="fileUrl" column="file_url" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="del_flag" jdbcType="CHAR"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="filePath" column="file_path" jdbcType="VARCHAR"/>
        <result property="delFlag" column="dir_flag" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,file_name,file_size,
        file_url,create_time,del_flag,
        user_id,file_path
    </sql>
</mapper>
